@import '../../app';

.user-card {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
  border: 3px solid $border-main;
  border-radius: $normal-border-radius;
  font-size: 10px;

  @media screen and (min-width: $mobileDevice) {
    min-width: 120px;
    max-height: 200px;
    padding: 5px;
  }

  @media screen and (min-width: $tabletDevice) {
    border: 5px solid $border-main;
    border-radius: $average-border-radius;
  }

  &:hover {
    background-color: $user-card-hovered;
  }
}

.user-card__user-credentials {
  display: flex;
  font-size: $average-font;
  font-weight: 600;
  margin: 0;
  word-wrap: anywhere;

  @media screen and (min-width: $tabletDevice) {
    font-size: $medium-font;
  }

  &:nth-child(1) {
    justify-content: center;
  }

  &:nth-child(2) {
    font-size: $super-small-font;
    padding-left: 0;
    font-weight: 100;

    @media screen and (min-width: $tabletDevice) {
      font-size: $small-font;
    }
  }
}


.user-card__label {
  @media screen and (min-width: $mobileDevice) {
    min-height: 35px;
    max-width: 120px;
  }

  @media screen and (min-width: $tabletDevice) {
    min-height: 40px;
    max-width: 155px;
  }

  &:after {
    content: 'Измените имя';
    color: $warning-message;

    @media screen and (min-width: $mobileDevice) {
      font-size: $small-font;
    }
  }

  &:nth-child(2):after {
    content: 'Измените email';
    color: $warning-message;

    @media screen and (min-width: $mobileDevice) {
      font-size: $small-font;
    }
  }
}

.user-card__input {
  outline: none;
  width: 100%;

  @media screen and (min-width: $mobileDevice) {
    font-size: $small-font;
    line-height: $small-font;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $average-font;
    line-height: $average-font;
    height: 22px;
  }
}

.user-card__buttons {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr;
  margin: 0 auto;
}

.user-card__button,
.user-card__confirmation-button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: $button-enabled;
  color: $font-white;
  border-radius: $normal-border-radius;

  @media screen and (min-width: $mobileDevice) {
    height: 30px;
    padding: 15px;
    max-width: 55px;
    font-size: $small-font;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $average-font;
    height: 35px;
    max-width: 75px;
  }

  &:hover {
    background-color: $button-hovered;
    color: $font-black;
    font-weight: 600;
  }

  &:active {
    background-color: $button-active;
  }

  &:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: span 2;
    min-width: 115px;

    @media screen and (min-width: $mobileDevice) {
      height: 25px;
      padding: 0;
    }

    @media screen and (min-width: $tabletDevice) {
      height: 35px;
      min-width: 155px;
    }
  }
}

.user-card__confirmation-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;

  @media screen and (min-width: $mobileDevice) {
    width: 100%;
    grid-row: 3 span;
    grid-column: 1 / span 2;
    max-height: 25px;
  }

  @media screen and (min-width: $tabletDevice) {
    max-height: 35px;
  }
}

.user-card__confirmation-button {
  font-weight: 600;
  padding: 0;

  @media screen and (min-width: $mobileDevice) {
    max-height: 25px;
  }

  @media screen and (min-width: $tabletDevice) {
    max-height: 35px;
  }

  &:nth-child(1) {
    background-color: $button-active;
  }

  &:nth-child(2) {
    background-color: $warning-message;
  }
}