@import "src/App";

.admin-panel {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-columns: 1fr;
}

.admin-panel__header {
  text-align: center;

  @media screen and (min-width: $mobileDevice) {
    font-size: $header-mobile-font;
  }
}

.admin-panel__form {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $mobileDevice) {
    gap: 15px;
  }
}

.admin-panel__label {
  border: none;
  @media screen and (min-width: $mobileDevice) {
    min-height: 35px;
  }
}

.admin-panel__input {
  width: 100%;
  height: 100%;
  font-size: $medium-font;
  line-height: 35px;
  border: none;
  border-bottom: 2px solid $border-main;
  padding-left: 10px;
  outline: none;

  &:focus {
    background-color: $input-focused;
    color: $font-black;
  }
}

.admin-panel__add-user-button {
  border: none;
  cursor: pointer;
  background-color: $button-enabled;
  color: $font-white;
  
  @media screen and (min-width: $mobileDevice) {
    border-radius: $normal-border-radius;
    min-height: 30px;
  }

  &:disabled {
    background-color: $button-disabled;
    cursor: not-allowed;
    color: $font-black;
  }
}