@import "../../App";

.users-template {
  display: grid;
  grid-gap: 20px;
  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }
}

.users-template__template {
  display: grid;
  grid-gap: 10px;

  @media screen and (min-width: $mobileDevice) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.users-template__label {
  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }
}

.users-template__input {
  width: 100%;
  height: 100%;
  font-size: $medium-font;
  border: none;
  border-bottom: 2px solid $border-main;
  padding-left: 10px;
  outline: none;

  @media screen and (min-width: $mobileDevice) {
    height: 30px;
    font-size: $medium-font;
    line-height: 35px;
  }

  &:focus {
    background-color: $input-focused;
    color: $font-black;
  }
}