@import "../../App";

.users-template {
  display: grid;
  grid-gap: 20px;
  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }
  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }

  @media screen and (min-width: $desktopDevice) {
    grid-column: 2;
    grid-row: 2;
  }
}

.users-template__template {
  display: grid;
  grid-gap: 10px;

  @media screen and (min-width: $mobileDevice) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.users-template__label {
  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }

  @media screen and (min-width: $tabletDevice) {
    min-width: 50%;
    margin: 0 auto;
  }
}

.users-template__input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 2px solid $border-main;
  padding-left: 10px;
  outline: none;

  @media screen and (min-width: $mobileDevice) {
    height: 30px;
    font-size: $average-font;
    line-height: 35px;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $medium-font;
  }

  &:focus {
    background-color: $input-focused;
    color: $font-black;
  }
}

.users-template__warning {
  @media screen and (min-width: $mobileDevice) {
    color: $warning-message;
    font-size: $average-font;
    font-weight: 600;
    text-align: center;
  }
}