$mobileDevice: 320px;
$tabletDevice: 768px;
$desktopDevice: 1024px;

$header-mobile-font: 20px;
$super-small-font: 9px;
$small-font: 10px;
$average-font: 12px;
$medium-font: 15px;
$large-font: 20px;

$normal-border-radius: 5px;

$font-black: #000000;
$font-white: #FFFFFF;
$border-main: #000000;
$border-task: #13a448;
$button-enabled: #1976d2;
$button-disabled: #ede8e4;
$button-pagination: #000000;
$button-hovered: #FFD700FF;
$button-active: #50C878;
$input-focused: #81c8ee;
$input-filled: rgba(253, 253, 253, 0.5);
$warning-message: #F05454;
$loading-card: #7a8688;
$user-card-hovered: #83beff;
$modal-header: #0169d0;
$modal-button: #FFFFFF;

.App {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;

  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    gap: 30px;
  }
}

