$mobileDevice: 320px;
$tabletDevice: 768px;
$desktopDevice: 1024px;

$header-mobile-font: 20px;
$medium-font: 15px;

$normal-border-radius: 5px;

$font-black: #000000;
$font-white: #FFFFFF;
$border-main: #000000;
$button-enabled: #1976d2;
$button-disabled: #ede8e4;
$input-focused: #81c8ee;
$input-filled:rgba(253, 253, 253, 0.5);

.App {
  padding: 20px;
  margin: 0 auto;

  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
  }
}

