@import '../../app';

.admin-panel {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-template-columns: 1fr;
  border: 5px solid $button-enabled;
  border-radius: $average-border-radius;
  padding: 10px;

  @media screen and (min-width: $tabletDevice) {
    justify-items: end;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      display: flex;
      background: url('./../../img/label.svg') no-repeat;
      width: 100px;
      height: 100px;
      left: 20px;
      top: 10px;
    }

    &:after {
      position: absolute;
      content: 'Advent';
      left: 20px;
      bottom: 10px;
      font-family: $label-font-style;
      font-size: $large-font;
      font-weight: 600;
    }
  }

  @media screen and (min-width: $desktopDevice) {
    justify-items: center;
    grid-column: 2;
    grid-row: 1;

    &:after {
      display: none;
    }

    &:before {
      display: none;
    }
  }
}

.admin-panel__header {
  margin: 0;

  @media screen and (min-width: $mobileDevice) {
    position: relative;
    font-size: $medium-font;
    text-align: right;

    &:before {
      content: '';
      position: absolute;
      display: flex;
      background: url('./../../img/label.svg') no-repeat;
      width: 30px;
      height: 30px;
      left: 0;
      top: 0;
    }
  }

  @media screen and (min-width: $tabletDevice) {
    padding-right: 65px;
    text-align: center;

    &:before {
      display: none;
    }
  }

  @media screen and (min-width: $desktopDevice) {
    padding-right: 0;
  }
}

.admin-panel__form {
  position: relative;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: $mobileDevice) {
    gap: 15px;
  }
}

.admin-panel__label {
  border: none;

  @media screen and (min-width: $mobileDevice) {
    min-height: 35px;
  }

  @media screen and (min-width: $tabletDevice) {
    min-width: 50%;
    margin: 0 auto;
  }
}

.admin-panel__input {
  width: 100%;
  height: 100%;
  line-height: 35px;
  border: none;
  border-bottom: 2px solid $border-main;
  padding-left: 10px;
  outline: none;

  @media screen and (min-width: $mobileDevice) {
    font-size: $average-font;
  }

  @media screen and (min-width: $tabletDevice) {
    font-size: $medium-font;
  }

  &:focus {
    background-color: $input-focused;
    color: $font-black;
  }
}

.admin-panel__add-user-button {
  border: none;
  cursor: pointer;
  background-color: $button-enabled;
  color: $font-white;
  font-weight: 600;

  @media screen and (min-width: $mobileDevice) {
    border-radius: $normal-border-radius;
    min-height: 30px;
  }

  @media screen and (min-width: $tabletDevice) {
    min-width: 310px;
    min-height: 35px;
    margin: 0 auto;
  }

  @media screen and (min-width: $desktopDevice) {
    min-width: 245px;
    min-height: 35px;
    margin: 0 auto;
  }

  &:hover {
    background-color: $button-hovered;
    color: $font-black;
  }

  &:disabled {
    background-color: $button-disabled;
    cursor: not-allowed;
    color: $font-black;
  }

  &:active {
    background-color: $button-active;
  }
}

.admin-panel__warning {
  text-align: center;
  font-size: $small-font;
  color: $warning-message;
}